.footer {
  color: #f5f5f5;
  background-color: #111;

  & .navbar-nav {
    flex-direction: row;
    font-size: 0.9rem;
  }

  & ul a {
    color: inherit;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  & .item {
    & .text p {
      margin-bottom: 0;
      opacity: 0.6;
    }

    &.social > a {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin: 0 8px;
      font-size: 20px;
      line-height: 36px;
      color: $color-primari;
      text-align: center;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}
