@use "sass:color";

$font-family-sans-serif: "Raleway", sans-serif;
$font-family-serif: "Roboto Slab", serif;

$color-primari: #fff;
$color-secondari: #e40d2e;
$color-terciari: #000;

$theme-colors: (
  "primary": #e40d2e,
  "warning": #e40d2e,
);
